html, body {
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}

.TitleBar {
  height: 5vh;
  text-align: center;
  width: 100%;
}

.ViewSelector {
  height: 8vh;
  z-index: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ViewSelector > button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  color: blue;
  margin: 2vh 10px;
  font-weight: 800;
  border-radius: 5px;
}

.FullView {
  display: grid;
  grid-template-areas: "input input"
  "sidebar content";
  grid-template-columns: 25vw 75vw;
  grid-template-rows: 5vh 82vh;
}

.InputHeader {
  grid-area: input;
}

.InputHeader {
  grid-area: input;
  margin: 0 auto;
}

.MapView {
  grid-row-start: sidebar;
  grid-row-end: content;
  grid-column-start: sidebar;
  grid-column-end: sidebar;
}

.SidebarList {
  grid-area: sidebar;
  overflow: scroll;
  margin: 20px;
  border-radius: 5px;
  border: 1px solid grey;
  padding: 0;
}

.SidebarList >li {
  list-style-type: none;
  border-radius: 5px;
  display: flex;
  text-align: right;
  width: 100%;
}

.SidebarList > li > b {
  text-align: left;
}

.SidebarList > li > button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  text-align: right;
  color: blue;
  
  margin: 0 20px;
}


.AssetDetail {
  grid-area: content;
  overflow: scroll;
  padding: 0 80px;
}
